@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Montserrat:ital,wght@0,300;0,600;0,700;0,800;1,600;1,800;1,900&family=Quicksand:wght@400;500&family=Raleway:wght@400;500&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #106eea;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #92c1ff27;
  height: 30px;
  font-size: 14px;
  transition: all 0.5s;
  color: rgb(53, 53, 53);
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: rgb(33, 128, 237);
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: rgb(53, 53, 53);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: rgb(42, 101, 218);
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(46, 105, 232, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: rgb(45, 45, 45);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 65px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #70707028;
}

#header.fixed-top {
  height: 70px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
 
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #3a3a3a;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #106eea;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(108, 167, 255);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #106eea;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* ####### HERO MAIN PAGE ######## */

.hero-main{
  height: 100vh;
  background: linear-gradient(to right, #f7fbff, #ddf0ff);
  position: sticky;
  top: 70px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;

  
}

.hero-main h1{
  font-size: 5rem;
  color: rgb(30, 113, 236);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-delay: 0.8s;
  transform: scale(0.9);
  text-align: center;
}

.hero-main h1 span{
  font-size: 5rem;
}

.hero-main h1 b{
  border-bottom: 8px solid #479dff;
  animation: scale-up-hor-right 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

@keyframes scale-up-hor-right {
  0% {
            transform: scaleX(0.4);
            transform-origin: 100% 100%;
  }
  100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
  }
}

.hero-main a{
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #3284f1;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 33PX;
  border: 2px solid #3284f1;
  transition: 0.2s ease-in;
}

.hero-main a:hover{
  background: rgba(255, 255, 255, 0);
  color: #3284f1;
  border: 2px solid #3284f1;
}


/* ####### HERO PAGE 01 ######## */
.hero{
 height: 100vh;
 background: #ffffff;
 position: sticky;
 top: 70px;
 z-index: 1;
 display: flex;
 transform: scale(0.9);
 box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

}



/* HERO 01 LEFT CONTENT */

#hero-left{
 background-color: #fff;
 width: 50%;
 height: 100%;
 color: #ffffff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: url("/assets/img/mmelogo1.gif");
 background-size: cover;
 background-repeat: no-repeat;
}


#hero-left div:nth-child(2){
  background-color:none;
   height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 50px;

  transform: scale(0.8);
  

}
#hero-left div:nth-child(2) img{
width: 400px;
height: 400px;
transition: 0.8s ease-in-out;
}

#hero-left div:nth-child(2) img:hover{
 transform: translateX(50px);
}



/* HERO 01 RIGHT CONTENT */

#hero-right{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  color: #106eea;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 100px;
 padding-top: 20px;
 
}

#hero-right a{
  background-color: #106eea;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 25px;
  margin-top: 30px;
  transition: all 0.3s ease-in;
  color: #ffffff;
}

#hero-right a:hover{
  padding: 10px 45px;
}



#hero-right h2{
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  
  
}


@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


#hero-right span{
  font-size: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  margin-bottom: -20px;
   
}

#hero-right span:nth-child(3){
  font-weight: 600;
  margin-top: -20px;
 
}

/* ####### HERO 02 PAGE ######## */
.hero_2{
  height: 100vh;
  background: none;
  position: sticky;
  top: 70px;
  z-index: 1;
  transform: scale(0.9);
  box-sizing: border-box;
  border-bottom: 3px solid #106eea;
  display: flex;
  margin-bottom: 100px;
 }

 /* HERO 02 LEFT CONTENT */

 #hero2-left{
   width: 50%;
   height: 100%;
   background: #ffffff;
 }
 /* HERO 02 RIGHT CONTENT */

 #hero2-right{
  width: 50%;
  height: 100%;
  background: #106eea;
 }
/* ####### HERO PAGE MEDIA QUERY  (ALL HERO PAGES) ######## */

 @media (max-width: 991px) {

  .hero-main h1 span{
    font-size: 6.5rem;
  }

  .hero{
    flex-direction: column-reverse;
    height: 100vh;
    
  }

  #hero-left{
    width: 100%;
    height: 40%;
  }
  #hero-right{
    width: 100%;
    height: 60%;
  }

  #hero-left div:nth-child(2){
  
    padding-bottom: 100px;
    padding-left: 0px;
  
  }

  #hero-left div:nth-child(2) img{
   height: 380px;
   width: 380px;
   
    }

  #hero-right h2{
      font-size: 4rem;
  }
    
  #hero-right span{
      font-size: 4.5rem;
     
  }

  .hero_2{
    flex-direction: column;
  }

  #hero2-left{
    width: 100%;
    height: 50%;
  
  }
 
  #hero2-right{
   width: 100%;
   height: 50%;
   
  }
    
}

/*--------------------------------------------------------------
# Hero Section ENDS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# ABOUT SECTION STARTS
--------------------------------------------------------------*/

.about{
  height: 100vh;
  background: linear-gradient(to right, #106eea, #74ccff);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  
}

.about h1{
  font-size: 4.5rem;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  transform: scale(0.9);
  text-align: center;
}

.about h1 span{
 font-size: 6rem;
}
.about1{
  height: 100vh;
  background: linear-gradient(to right, #005bd2, #479dff);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  transform: scale(0.9);
  color: #fff;
  
}
.about2{
  height: 100vh;
  background: linear-gradient(to right, #004eb4, #003a9e);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  transform: scale(0.9);
  color: #fff;
  
}



.service{
  height: 100vh;
  background: #5d9df0;
  position: sticky;
  top: 70px;
  z-index: 3;
}



.team{
  height: 90vh;
  background: #348cff;
  position: sticky;
  top: 70px;
  z-index: 4;
}