@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Montserrat:ital,wght@0,300;0,600;0,700;0,800;1,600;1,800;1,900&family=Quicksand:wght@400;500&family=Raleway:wght@400;500&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: url("/assets/img/mmebg19.png"); 
  /* animation: kenburns-top-right 10s ease-out forwards; */
  background-size: contain;

}
:root{
  --mme:#1E68CB;
}

a {
  color: #1E68CB;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1E68CB;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1E68CB;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #1E68CB;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
/* #topbar {
  background: #212121;
  height: 30px;
  font-size: 14px;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: rgb(255, 255, 255);
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: rgb(255, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: rgb(42, 101, 218);
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.938);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: rgb(44, 114, 212);
} */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(255, 255, 255, 0.596);
  transition: all 0.5s;
  z-index: 997;
  height: 65px;
 
 
}

#header.fixed-top {
  height: 70px;
 
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  
}

#header .logo a {
  color: #1E68CB;
}

#header .logo a span {
  color: #ffffff;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
 
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #818181;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #1E68CB;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #1E68CB;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1E68CB;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(108, 167, 255);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #1E68CB;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #1E68CB;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* ####### HERO MAIN PAGE ######## */

.hero-main{
  width: 100%;
  height: 210vh;
  background: url("/assets/img/mmebg19.png"); 
  /* animation: kenburns-top-right 10s ease-out forwards; */
  background-size: contain;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;

}

@keyframes kenburns-top-right {
  0% {
      transform: scale(1) translate(0, 0);
      transform-origin: 84% 16%;
  }
  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}


@keyframes scale-up-hor-right {
  0% {
            transform: scaleX(0.4);
            transform-origin: 100% 100%;
  }
  100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
  }
}

/* #######  TEST PAGE 01 ######## */
.hero_test{
  height: 100vh;
  background: none;
  position: sticky;
  top: 70px;
  z-index: 1;
  transform: scale(0.9);
  box-sizing: border-box;
  border-bottom: 3px solid #5b5b5b6d;
  display: flex;
  justify-content: right;
 
  padding-bottom: 100px;
 
}

.hero_test_content{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.936);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.477);
  border-radius: 10px;
  backdrop-filter: blur(25px);
  
}

.hero_test_content h1{
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-delay: 0.8s;
  transform: scale(1);
  text-align: center;
  text-shadow:2px 2px #2e2e2e;
  
}

.hero_test_content a{
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #1E68CB;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 33PX;
  border: 2px solid #1E68CB;
  transition: 0.2s ease-in;


}

.hero_test_content a:hover{
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 2px solid #1E68CB;
}


/* ####### HERO PAGE 01 ######## */
.hero{
 height: 100vh;
 background: none;
 position: sticky;
 top: 70px;
 z-index: 1;
 display: flex;
 transform: scale(1);
 box-shadow: 0px 0px 30px rgba(33, 33, 33, 0.25);
 border-radius: 25px;

}



/* HERO 01 LEFT CONTENT */

#hero-left{
  background-color: rgba(255, 255, 255, 0.591);
  backdrop-filter: blur(60px);
  border-top: 2px solid rgba(255, 255, 255, 0.21);
  width: 50%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#hero-left #intro{
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
 
  
}


.intro1{
  background-color: none;
  display: flex;
  height: 100px;
  margin-bottom: 30px;
}

.intro1 .icon{
  width: 100px;
 height: 100px; 
 background-color: coral;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 margin-right: -30px;
 margin-top: -30px;
}

.intro1 .icon i{
  font-size: 2rem;
}
.intro1 .head1{
  width: 400px;
  height: 100px; 
  background-color: rgba(255, 255, 255, 0.628);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 25px;
  border-radius: 15px;
  color: #1a1919;
  border: 1px solid rgba(204, 204, 204, 0.676);
}



.intro2{
  background:#1a1919;
  padding: 8px;
  margin: 3px;
}
.intro3{
  background:#1a1919;
  padding: 8px;
  margin: 3px;
}









/* HERO 01 RIGHT CONTENT */

#hero-right{
  background-color: rgba(28, 28, 28, 0.132);
  backdrop-filter: blur(60px);
 
  border-top: 2px solid rgba(255, 255, 255, 0.21);
  width: 50%;
  height: 100%;
  color: #ffffff;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 100px;
 padding-top: 20px;
}

#hero-right a{
  background-color: #1E68CB;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 25px;
  margin-top: 30px;
  transition: all 0.3s ease-in;
  color: #ffffff;
}

#hero-right a:hover{
  padding: 10px 45px;
}



#hero-right h2{
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  
  
}


@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


#hero-right span{
  font-size: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  margin-bottom: -20px;
   
}

#hero-right span:nth-child(3){
  font-weight: 600;
  margin-top: -20px;
 
}

/* ####### HERO 02 PAGE ######## */
.hero_2{
  height: 100vh;
  background: none;
  position: sticky;
  top: 70px;
  z-index: 1;
  transform: scale(0.9);
  box-sizing: border-box;
  border-bottom: 3px solid #1E68CB;
  display: flex;
  margin-bottom: 100px;
 }

 /* HERO 02 LEFT CONTENT */

 #hero2-left{
   width: 50%;
   height: 100%;
   background: #ffffff;
 }
 /* HERO 02 RIGHT CONTENT */

 #hero2-right{
  width: 50%;
  height: 100%;
  background: #1E68CB;
 }
/* ####### HERO PAGE MEDIA QUERY  (ALL HERO PAGES) ######## */

 @media (max-width: 991px) {

  .hero-main h1 span{
    font-size: 6.5rem;
  }

  .hero{
    flex-direction: column-reverse;
    height: 100vh;
    
  }

  #hero-left{
    width: 100%;
    height: 40%;
  }
  #hero-right{
    width: 100%;
    height: 60%;
  }

  #hero-left div:nth-child(2){
  
    padding-bottom: 100px;
    padding-left: 0px;
  
  }

  #hero-left div:nth-child(2) img{
   height: 380px;
   width: 380px;
   
    }

  #hero-right h2{
      font-size: 4rem;
  }
    
  #hero-right span{
      font-size: 4.5rem;
     
  }

  .hero_2{
    flex-direction: column;
  }

  #hero2-left{
    width: 100%;
    height: 50%;
  
  }
 
  #hero2-right{
   width: 100%;
   height: 50%;
   
  }

  .hero_main_content{
    padding: 20px 0;
    margin: 10px;
  }
    
}

/*--------------------------------------------------------------
# Hero Section ENDS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# ABOUT SECTION STARTS
--------------------------------------------------------------*/

.about{
  height: 100vh;
  background: linear-gradient(to right, #1E68CB, #74ccff);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  
}

.about h1{
  font-size: 4.5rem;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  transform: scale(0.9);
  text-align: center;
}

.about h1 span{
 font-size: 6rem;
}
.about1{
  height: 100vh;
  background: linear-gradient(to right, #005bd2, #479dff);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  transform: scale(0.9);
  color: #fff;
  
}
.about2{
  height: 100vh;
  background: linear-gradient(to right, #004eb4, #003a9e);
  position: sticky;
  top: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  transform: scale(0.9);
  color: #fff;
  
}



.service{
  height: 100vh;
  background: #5d9df0;
  position: sticky;
  top: 70px;
  z-index: 3;
}



.team{
  height: 90vh;
  background: #348cff;
  position: sticky;
  top: 70px;
  z-index: 4;
}